// COVID19 header styling.
// -----------------------------------------------------------------------------
@import "../../bootstrap/less/variables.less";  // Bootstrap variables.
@import "../../bootstrap/less/mixins.less";     // Bootstrap mixins.
@import "../variables.less";                    // COVID19 variables.
@import "../mixins.less";                       // COVID19 mixins.
// -----------------------------------------------------------------------------

// Insert your COVID19 header custom LESS styling.
.navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    background-color: #343a40 !important;
}

div#navbarHeader {
    background-color: #343a40;
    .text-white {
        color: #fff !important;
    }
}

body {
    margin-top: 0px !important;
}


.announcement {
padding-top: 4px;
padding-bottom: 4px;
background-color: #f9f9df;
}