.footer-wrapper {
  background-color: #000 !important;
  color: #f4f4f4 !important;
}
.footer-wrapper h3 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 15px !important;
}
.footer-wrapper span.fontawesome-icon-inline {
  color: white;
  font-size: 25px;
}
.footer-wrapper a.footer-link {
  color: #fff !important;
  font-weight: 600;
  text-decoration: none !important;
}
.footer-wrapper a.footer-link:hover {
  border-bottom: 1px solid #fff;
}
.footer-wrapper .footer_heading_wrapper {
  padding-bottom: 25px !important;
}
.footer-wrapper ul.social.footer-linked-list {
  padding-left: 0px !important;
}
.footer-wrapper ul.footer-linked-list {
  list-style-type: none !important;
  padding-left: 0px !important;
}
.footer-wrapper li.foot-li,
.footer-wrapper li.footer-p {
  padding-bottom: 15px;
}
.footer-wrapper span.fontawesome-icon-inline:hover {
  color: #5e94ea;
}
.footer-wrapper .footer {
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 45px;
}
.footer-wrapper .footer section[id$="-copyright"] {
  float: left;
  padding: 17px 0 17px 0;
  font-size: 12px;
}
.footer-wrapper .footer section[id$="-copyright"] > div {
  padding: 14px 0 10px 0;
}
.footer-wrapper .footer ul.nav {
  float: right;
  padding: 17px 0 17px 0;
}
.footer-wrapper .footer ul.nav li {
  display: inline-block;
  list-style: none;
  text-decoration: none !important;
}
